# ========== Application Settings ==========
APP_ENV=development
LOG_LEVEL=INFO

# ========== MinIO Configuration ==========
MINIO_ENDPOINT=172.16.19.115:9000 # 9001 UI
MINIO_ACCESS_KEY=smap
MINIO_SECRET_KEY=hcmut2025
MINIO_BUCKET=smap-stt-audio-files
MINIO_BUCKET_MODEL=smap-whisper
MINIO_TARGET_PREFIX=audios
MINIO_USE_SSL=False
MINIO_PRESIGNED_TTL=600 # Presigned URL TTL in seconds
MINIO_UPLOAD_PART_SIZE=5242880 # Upload part size (5MB)

# ========== FFmpeg Settings ==========
FFMPEG_PATH=ffmpeg
FFMPEG_AUDIO_BITRATE=192k
FFMPEG_TIMEOUT_SECONDS=600
MAX_CONCURRENT_JOBS=2
