➜  crawler-worker git:(unit-test) make test
ok      crawler-worker/internal/task/delivery/http              (cached)        coverage: 100.0% of statements
ok      crawler-worker/internal/task/usecase                    (cached)        coverage: 100.0% of statements
ok      crawler-worker/internal/crawler/facebook                (cached)        coverage: 100.0% of statements
ok      crawler-worker/internal/storage/minio                   (cached)        coverage: 100.0% of statements
ok      crawler-worker/internal/completion/producer             (cached)        coverage: 100.0% of statements
ok      crawler-worker/internal/worker/runtime                  (cached)        coverage: 100.0% of statements
