➜  identity-srv git:(unit-test) make test
ok      identity-srv/internal/authentication/delivery/http      (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/authentication/repository/postgre (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/authentication/usecase            (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/audit/delivery/http               (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/audit/delivery/kafka              (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/audit/repository/postgre          (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/audit/usecase                     (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/user/repository/postgre           (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/user/usecase                      (cached)        coverage: 100.0% of statements
ok      identity-srv/internal/model                             (cached)        coverage: 100.0% of statements
