➜  knowledge-srv git:(unit-test) make test
ok      knowledge-srv/internal/search/delivery/http             (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/search/usecase                   (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/chat/delivery/http               (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/chat/usecase                     (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/indexing/usecase                 (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/report/delivery/http             (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/report/repository/postgre        (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/report/usecase                   (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/vectorstore/qdrant               (cached)        coverage: 100.0% of statements
ok      knowledge-srv/internal/cache/redis                      (cached)        coverage: 100.0% of statements
