➜  notification-srv git:(unit-test) make test
ok      notification-srv/internal/alert/usecase                 (cached)        coverage: 100.0% of statements
ok      notification-srv/internal/model                         (cached)        coverage: 100.0% of statements
ok      notification-srv/internal/websocket/delivery/http       (cached)        coverage: 100.0% of statements
ok      notification-srv/internal/websocket/delivery/redis      (cached)        coverage: 100.0% of statements
ok      notification-srv/internal/websocket/usecase             (cached)        coverage: 100.0% of statements
ok      notification-srv/internal/analyticsbridge               (cached)        coverage: 100.0% of statements
