➜  project-srv git:(unit-test) make test
ok      project-srv/internal/campaign/delivery/http     (cached)        coverage: 100.0% of statements
ok      project-srv/internal/campaign/repository/postgre        (cached)        coverage: 100.0% of statements
ok      project-srv/internal/campaign/usecase           (cached)        coverage: 100.0% of statements
ok      project-srv/internal/project/delivery/http      (cached)        coverage: 100.0% of statements
ok      project-srv/internal/project/delivery/kafka     (cached)        coverage: 100.0% of statements
ok      project-srv/internal/project/repository/postgre (cached)        coverage: 100.0% of statements
ok      project-srv/internal/project/usecase            (cached)        coverage: 100.0% of statements
ok      project-srv/internal/crisis/delivery/http       (cached)        coverage: 100.0% of statements
ok      project-srv/internal/crisis/repository/postgre  (cached)        coverage: 100.0% of statements
ok      project-srv/internal/crisis/usecase             (cached)        coverage: 100.0% of statements
ok      project-srv/internal/domain                     (cached)        coverage: 100.0% of statements
ok      project-srv/internal/model                      (cached)        coverage: 100.0% of statements
