➜  shared-libs/go git:(unit-test) make test-go
ok      shared-libs/go/compressor       (cached)        coverage: 100.0% of statements
ok      shared-libs/go/cron             (cached)        coverage: 100.0% of statements
ok      shared-libs/go/httpclient       (cached)        coverage: 100.0% of statements
ok      shared-libs/go/kafka            (cached)        coverage: 100.0% of statements
ok      shared-libs/go/log              (cached)        coverage: 100.0% of statements
ok      shared-libs/go/postgres         (cached)        coverage: 100.0% of statements
ok      shared-libs/go/redis            (cached)        coverage: 100.0% of statements
ok      shared-libs/go/tracing          (cached)        coverage: 100.0% of statements
